[mpd]
host = localhost
port = 6600

# This is where musnify-mpd will look for searching the local album covers.
musiclibrary = ~/Music
#

[apiKey]
# If you want to fetch the album covers from LastFm,
# enable this option and provide a apiKey.
# You can get you apiKey here: https://www.last.fm/api/account/create
#
# lastfm = YOUR_LASTFM_API_KEY
